* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

.mountain {
  position: relative;
  top: 150px;
}

#vantajs {
  height: 662px;
}

h1 {
  color: #66bfbf;
  padding-top: 100px;
}

h2, h3 {
  color: #66bfbf;

}

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: #11999e;
  font-family: sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

.middle__container {
  margin: 100px 0;
}

.bottom__container {
  background-color: #66bfbf;
  padding-top: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.intro {
  width: 40%;
  margin: auto;
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.data-img {
  width: 25%;
  height: auto;
  float: right;
  margin-left: 20px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.contact-message {
  width: 45%;
  margin: 20px auto 60px;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

span {
  color: burlywood
}

.fa:hover {
  opacity: 0.9;
  color: #11cdd4;
}

/* .fa-linkedin {
  background: #007bb5;
  color: white;
} */

.fa {
  padding: 10px;
  color: #000;
  background-color: white;
  border-radius: 100%;
  text-decoration: none;
}